body {
    background-color:darkgray;
}

.jeux p {
    text-align: center;
}

article a {
    color: black;
    text-decoration: none;
}

article:hover {
    background-color: orange;
}

article {
    display: inline-block;
    border: 1px;
    border-style:solid;
    border-color: black;
    margin-bottom: 5px;
    width: 30%;
    margin: 0 1%;
    height : 25rem
}

img {
    width: 10rem;
}

section {
    display: inline-block;
    margin-bottom: 5px;
    width: 40%;
    margin: 0 1%;
    height : 25rem
}

section:hover {
    background-color: orange;
}

section img {
    width : 70%
}

.jeux {
    text-align: center;
}

.serieux {
    display: inline-block;
    text-align: center;
}